@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f6fa;
    text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
  font-family: serif;
}

a {
  display: inline-block;
  padding: 10px 18px;
  background: #884379;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
   border: 1px solid #884379;
   transition: all 0.3s ease;
}

a:hover {
   color: #884379;
   background-color:transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  max-width: 800px;
  margin: 0 auto;
}

thead th {
  background: #884379;
  color: #fff;
  padding: 14px;
  text-align: left;
  font-size: 16px;
}

tbody td {
  padding: 12px 15px;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  color: #333;
  text-align: left;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background: #f0f7ff;
}

.button,
button[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  background: #884379;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;  
  font-size: 14px;
  border: 1px solid #884379;
  outline: none;
  transition: all 0.3s ease;
}

.button:hover,
button[type="submit"]:hover {
  color: #884379;
  background-color:transparent;
}

.main-wrapper {
  max-width: 500px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px; /* spacing between fields */
}

.row {
  display: flex;
  flex-direction: column;
}

.form-wrapper input {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background: #f7f9fc;
  transition: border-color 0.3s ease;
}

.form-wrapper input:focus {
  border-color: #884379;
  outline: none;
  background: #fff;
}